.topMenuBlock{
    margin:0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;    
}
.pageName{
    margin-left: 30px;   
    font-size: 30px; 
}
.topMenu{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 30px;
    font-size: 20px;
}
.topButton{
    margin: 10px 20px;
}
.topButton:hover+.topButtonUnderline{
    background-color: beige;
}
h1{
    margin: 0;
    padding: 10px;
}
.topMenu .selected{
    width: auto ;
    left: 0;
    right: 0;
    height: 3px;
    background-color: beige;
}
.topButtonUnderline{
    width: auto ;
    left: 0;
    right: 0;
    height: 3px;
    background-color: rgba(245, 245, 220, 0);    
    border-radius: 3px;
}
body{
    background-size: cover;
    min-height: 100vh;
    height: max-content;
    margin: 0;
    position: relative;
}
.mainPage{
    padding-bottom: 60px;
}
.indexBackground{
    background-image: url("./samples/indexBackgrund.jpg");    
}
.educationBackground{
    background-image: url("./samples/educatonBackground.avif");
}
.skillsBackground{
    background-image: url("./samples/skillsBackground.jpg");
}
.hobbiesBackground{
    background-image: url("./samples/hobbiesBackground.jpg");
}
.information{
    margin-top: 90px;
    margin-bottom: 60px;
    margin-left: 15vw;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    width:fit-content;
    border-radius: 5px;
    color: beige;
    text-align: center;
    font-size: 20px;  
    max-width: 66vw; 
    z-index: 0; 
}
.information p{
    margin: 15px;
}
.skillsTableBlock{
    display: flex;
    max-width: fit-content;
}
.inputForm{
    min-width: 250px;
    width: 250px;
}
.fname{
    font-weight: bold;
    font-size: 40px;
}
.lname{
    font-weight: bold;
    font-size: 30px;
}
a{
    color: beige;
    text-decoration: none;
}
.menuHamburger{
    display: none;
    background-image: url("./samples/Hamburger_icon.svg");
    width: 40px;
    height: 40px;
    background-size: cover;
}
.footer {
    padding: 10px 0px;
    position:absolute;
    left: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: beige;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 14px;
   }
.footer span{
    margin: 10px ;
}
td{
    padding: 5px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
td:first-child{    
    max-width: 40px;
}
td:nth-child(2){
    max-width: 180px;
}
td:nth-child(3),td:nth-child(4){
    max-width: 80px;
}

.inputBlock{
    text-align: right !important;
    margin: 10px 0;
}
input, button{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 1px solid beige;
    color: beige;
    font-size: 20px;
    width:50%;
    padding: 5px;
}
#errorMassages{
    visibility: hidden;
}
@media screen and (max-width: 800px) {
    .topMenuBlock {
        position: relative; 
    }
    .topMenu {
        display: none;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        transform: translateX(-81px);
    }
    .menuHamburger{
        display: block;
    }
    .menuHamburger:hover+.topMenu{
        display: block;
    }
    .topMenu:hover{
        display: block;
    }
}
@media screen and (max-width: 1000PX) {
    .skillsTableBlock{
        flex-wrap: wrap;
        width: min-content;
        justify-content: center;
    }
}